*{
	margin: 0;
	padding: 0;
	outline: none;
}
body{
	font-family: Arial;
	width: 1280px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.clr{
	clear: both;
}
.video_bg{ 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
header{
	height: 273px;
	background: #445162;
	background: linear-gradient(to bottom, #445162 0%, #566271 70%, #697381 100%);
	padding: 50px 50px 0 50px;
	color: #fff;
}
.header_left h1{
	font-size: 60px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
}
.header_left ul li{
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	list-style-type: none;
	margin-left: 40px;
}
.header_left ul li:before{
	content: ' ';
	background: url(../Img/check_icon.png);
	position: absolute;
	top: 8px;
	left: -35px;
	display: block;
	width: 25px;
	height: 19px;
}
.header_right{
	background: #fff;
	outline: 1px solid #fff;
}
main{
	padding: 50px;
}
main > article{
	min-height: 245px;
	margin-bottom: 50px;
}
.about_product{
	width: 653px;
}
article .about_product h3{
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	margin-bottom: 30px;
}
article .about_product p{
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	width: 100%;
}
article video{
	display: block;
	background-color: #445161;
	border: 1px solid #445161;
	border-bottom: none;
}
.pluses_product{
	margin: 0 -50px;
	padding: 50px 50px;
	background: #f5f5f5;
	min-height: 350px;
}
.pluses_product:after{
	content: '';
	display: block;
	clear: both;
}
.pluses_product summary{
	display: block;
	margin-left: 40px;
	position: relative;
}
.pluses_product summary::-webkit-details-marker{
	display: none;
}
.pluses_product summary:before{
	content: "+";
	background: #445161;
	color: #fff; 
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	font-size: 2em;
	line-height: 30px;
	margin: -5px 10px 0 0;
	position: absolute;
	top: 10px;
	left: -40px;
}
.pluses_product details[open] > summary::before {
	content: '-';
	line-height: 25px;
}
.pluses_product h3{
	text-align: center;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}
.pluses_product div{
	width: 50%;
}
.pluses_product summary{
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 30px;
}
.pluses_product p{
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.scrinshots{
	min-height: 455px;
	margin-bottom: 50px;
}
.scrinshots h3{
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	padding: 50px 0 35px 0;
}
.scrinshots div{
	width: 50%;
}
.scrinshots figure{
	margin-bottom: 30px;
}
.scrinshots figure:hover{
	background: #f5f5f5;
}
.scrinshots img{
	background-color: #445161;
	background: radial-gradient(circle closest-side at 40% 40%, #697381 0%, #566271 40%, #445161 100%);
	margin-right: 15px;
}
.scrinshots_description{
	color:#445161;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.scrinshots_description + p{
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	width: 98%;
	word-break: break-all;
}
.reviews{
	margin: 0 -50px;
	min-height: 350px;
	background: #f5f5f5;
	padding: 50px;
}
.reviews > div{
	width: 50%;
}
.reviews_div{
	margin-bottom: 25px;
}
.reviews h3{
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	padding: 0px 0 35px 0;
}
.reviews img{
	background-color: #445161;
	background: radial-gradient(circle closest-side at center, #697381, #445161);
	border-radius: 50%;
	margin-top: 5px;
}
.reviews article{
	margin: 0 30px 0 100px;
	width: 70%;
	background: #ececec;
	border-radius: 10px;
	padding: 15px 20px;
	position: relative;
}
.reviews article:before{
	content: ''; 
    position: absolute;
    top: 30px;
    left: -23px;
    border: 12px solid transparent;
    border-right: 12px solid #ececec;
}
.reviews_div p{
	color: #333333;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	text-align: left;
	margin-bottom: 5px;
	word-break: break-all;
}
.reviews_div span{
	color: #989898;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
}
.buy_now{
	padding: 50px 95px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.buy_now h3{
	color:#445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
}
.buy_now-div{
	background: #425060;
	color: #fff;
	width: 258px;
	padding: 20px;
	border: 1px solid #425060;
}
.buy_now-div span{
	display: block;
	text-align: center;
}
.buy_now-div span:first-child{
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	padding-bottom: 16px;
}
.buy_now-div span:nth-child(2){
	margin: 0 -20px;
	background: #fff;
	color: #445162;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	padding: 16px 0;
}
.buy_now-div ol{
	margin: 20px 0 20px 20px;
}
.buy_now-div li{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.buy_now-div a{
	display: block;
	border-radius: 5px;
	background-color: #ffffff;
	color: #445161;
	font-size: 18px;
	font-weight: 700;
	line-height: 38px;
	width: 260px;
	height: 40px;
	text-align: center;
}
.buy_now-div a:hover{
	box-shadow: 0 0 2px 1px #fff;
	background-color: #d9dcdf;
}
.buy_now-div a:active{
	border-radius: 5px;
	box-shadow: 0 0 3px 2px #fff;
	background-color: #425060;
	color: #fff;
}
footer .footer_contact{
	background: #445162;
	background: linear-gradient(to top, #445162 0%, #566271 70%, #697381 100%);
	color: #fff;
	padding: 50px 0;
}
.footer_contact h3{
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-bottom: 30px;
}
.footer_contact-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.footer_contact-flex form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.footer_contact-flex input{
	border-radius: 5px;
	background-color: #ffffff;
	width: 490px;
	height: 40px;
	margin: 0 20px 20px 0;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-left: 10px;
}
.footer_contact-flex input[type="text"]{
	text-transform: capitalize;
}
.footer_contact-flex input[type="email"]{
	text-transform: lowercase;
}
.footer_contact-flex textarea{
	border-radius: 5px;
	background-color: #ffffff;
	width: 490px;
	height: 160px;
	margin: 0 20px 20px 0;
	resize: none;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding: 10px 0 0 10px;
}
.footer_contact-flex input:hover, textarea:hover{
	background-color: #f5f5f5;
}
.footer_contact-flex input:focus, textarea:focus{
	background-color: #ececec;
}
.footer_contact-flex .submit{
	border-radius: 5px;
	background-color: #ffffff;
	width: 140px;
	height: 40px;
	color: #445162;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	padding: 0;
	margin: 0;
	align-self: center;
}
.footer_contact-flex .submit:hover{
	box-shadow: 0 0 2px 1px #fff;
	background-color: #d9dcdf;
}
.footer_contact-flex .submit:active{
	border-radius: 5px;
	box-shadow: 0 0 3px 2px #fff;
	background-color: #425060;
	color: #fff;
}
.contacts{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.contacts li{
	margin: 0 0 30px 75px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	list-style-type: none;
	position: relative;
}
.contacts li:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -40px;
}
.contacts_skype:before{
	background: url(../Img/skype_icon.png) no-repeat;
	width: 24px;
	height: 26px;
}
.contacts_icq:before{
	background: url(../Img/icq_icon.png) no-repeat;
	width: 26px;
	height: 26px;
}
.contacts_mail:before{
	background: url(../Img/email_icon.png) no-repeat;
	width: 24px;
	height: 24px;
}
.contacts_tel:before{
	background: url(../Img/phone_icon.png) no-repeat;
	width: 24px;
	height: 23px;
}
.contacts-social_links{
	margin-left: 30px;
}
.contacts-social_links a{
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-decoration: none;
	color: #445162;
	text-align: center;
	line-height: 40px;
	margin-right: 5px;
	font-size: 20px;
}
.contacts-social_links a:hover{
	box-shadow: 0 0 2px 1px #fff;
	background-color: #d9dcdf;
}
.contacts-social_links a:active{
	box-shadow: 0 0 3px 2px #fff;
	background-color: #425060;
	color: #fff;
}
.copyright{
	text-align: center;
	padding: 5px 0;
	color: #445162;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 24px;
}
.copyright span{
	text-transform: uppercase;
}
