@font-face {
	font-family: Raleway-Bold;
	src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
	font-family: Raleway-ExtraBold;
	src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
	font-family: Montserrat-ExtraLight;
	src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
	font-family: Montserrat-Light;
	src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body{
	width: 1920px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.uppercase{
	text-transform: uppercase;
}

.header_slider a, img, input{
	color: #fff;
}
.header_slider{
	background-color: #f4f5f8;
	background-color: rgba(17, 17, 17, 0.7);
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
	padding: 40px 150px 40px 150px;
	position: relative;
}
.header_arrows{
	width: 40px;
	height: 73px;
	fill: #fff;
	padding: 5px;
}
.header_arrows:hover{
	fill: #d3c1ad;
}
.header_arrows:active{
	fill: #27231E;
}
.header_arrows-left{
	position: absolute;
	top: 45%;
	left: 8%;
}
.header_arrows-right{
	transform: scale(-1, 1);
	position: absolute;
	top: 45%;
	right: 8%;
}
.header-main{
	width: 1170px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 8px 0;
	margin-bottom: 285px;
}
.logo{
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 34px;
	font-weight: 400;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.logo_svg{
	fill: #fff;
}
.logo:hover{
	color: #c7b29a;
}
.logo:hover .logo_svg{
	fill: #c7b29a;
}
.logo:active{
	color: #27231E;
}
.logo:active .logo_svg{
	fill: #27231E;
}
.header_menu{
	font-family: 'Montserrat-Light', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 100px;
}
.header_menu a{
	display: inline-block;
	padding: 15px;
}
.header_menu a:hover{
	color: #c7b29a;
}
.header_menu a:active{
	color: #13110F;
	text-shadow: 0 0 5px #fff;
}
.header_icon-cfrt{
	fill: #fff;
	stroke: #fff;
}
.header_icon-cfrt:hover{
	fill: #c7b29a;
	stroke: #c7b29a;
}
.header_icon-cfrt:active{
	fill: #13110F;
	stroke: #13110F;
	box-shadow: 0 0 5px #fff;
}
.header_search-svg{
	fill: #fff;
	stroke: #fff;
	margin-top: 5px;
	cursor: pointer;
}
.header_search input[type="search"]{
	display: none;
	position: relative;
	width: 200px;
}
.header_search:hover input[type="search"]{
	display: block;
	position: absolute;
	z-index: 10;
}
.header_search input[type="search"]:focus{
	display: block;
	position: absolute;
	z-index: 10;
}
.header_slogan{
	width: 590px;
	margin: 0 auto 260px auto;
}
.header_slogan-span{
	display: block;
	font-family: 'Raleway-Medium', sans-serif;
	color: #ffffff;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	line-height: 20px;
}
.header_slogan h1{
	font-family: 'Raleway-Bold', sans-serif;
	color: #ffffff;
	font-size: 52px;
	font-weight: 700;
	text-align: center;
}
.header_slogan p{
	font-family: 'Montserrat-Light', sans-serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	margin-top: -10px;
}
.header_slogan-a{
	display: block;
	line-height: 56px;
	margin: auto;
	text-align: center;
	width: 170px;
	height: 53px;
	background-color: #998675;
	border-radius: 3px;
	margin-top: 50px;
	border-bottom: 3px solid #746358;
}
.header_slogan-a:hover{
	background: #746358;
}
.header_slogan-a:active{
	color: #c7b29a;
	background: #13110F;
	border-bottom: 3px solid #13110F;
}
.header_slider-slider{
	width: 98px;
	height: 15px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header_slider-slider a{
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	-webkit-background-origin: border-box;
	background-origin: border-box;
}
.header_slider-slider a:hover{
	border: 2px solid #d3c1ad;
	background-color: rgba(0, 0, 0, 0);
	transform: scale(1.1);
	transition: 0.1s;
	-webkit-background-origin: border-box;
	background-origin: border-box;

}

.services{
	margin: 80px 377px 80px 377px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.services_item{
	width: 266px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
}
.services_item:after{
	content: '';
	display: block;
	width: 70px;
	height: 3px;
	background: #f1eee9;
}
.services_item-svg{
	fill: #555;
}
.services_item span{
	font-family: Raleway-SemiBold;
	color: #555555;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	display: block;
	margin-top: 30px;
}
.services_item p{
	font-family: Montserrat;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	margin: 20px 0 30px 0;
}
.services_item:hover .services_item-svg{
	fill: #c7b299;
}
.services_item:hover span{
	color: #c7b299;
}
.services_item:hover:after{
	background: #c7b299;
}
.waxom_ideas{
	background: #fbfaf8;
	text-align: center;
	padding: 83px 0 521px 0;
	position: relative;
}
.waxom_ideas h2{
	font-family: Raleway-SemiBold;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
	margin-top: 0;
}
.waxom_ideas p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	width: 757px;
	margin: auto;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}
.waxom_ideas img{
	display: block;
}
.waxom_ideas-left{
	position: absolute;
	top: 320px;
	left: 345px;
} 
.waxom_ideas-center{
	position: absolute;
	top: 238px;
	left: 31%;
	z-index: 9;
}
.waxom_ideas-right{
	position: absolute;
	top: 320px;	
	right: 345px;
}
.waxom_ideas img:hover{
	z-index: 10;
	top: 238px;
	height: 482px;
}
.purchase_now{
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 50px 375px;
}
.purchase_now h2{
	font-family: Raleway-Regular;
	color: #ffffff;
	font-size: 28px;
	font-weight: 400;
	width: 50%;
	margin: 0;
}
.purchase_now h2 span{
	color: #c7b299;
}
.purchase_now p{
	font-family: Montserrat-Light;
	color: #615855;
	font-size: 18px;
	font-weight: 300;
	width: 50%;
	margin: 0;
}
.purchase_now-a{
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
	width: 170px;
	height: 53px;
	background-color: #998675;
	border-radius: 3px;
	border-bottom: 3px solid #746358;
	-ms-align-self: center;
	align-self: center;
}
.purchase_now-a:hover{
	background: #746358;
}
.purchase_now-a:active{
	color: #c7b29a;
	background: #13110F;
	border-bottom: 3px solid #13110F;
}
.latest_projects{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px 375px;
}
.latest_projects h2{
	font-family: Raleway-SemiBold;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	width: 100%;
}
.latest_projects p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	width: 757px;
	margin: auto;
}
.latest_projects-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 810px;
	margin: 40px auto;
}
.latest_projects-nav button{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	text-align: center;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	-webkit-background-origin: border-box;
	background-origin: border-box;
	background-color: rgba(17, 17, 17, 0);
	margin: 0 5px;
	padding: 5px 15px;
}
.latest_projects-nav button:hover{
	border-radius: 3px;
	background: #998675;
	color: #fff;
}
.latest_projects-nav button:active{
	border-radius: 3px;
	background: #13110F;
	color: #fff;
}
.latest_projects-article{
	background: #fbfaf8;
	margin-bottom: 30px;
	position: relative;
}
.latest_projects-article img{
	background: #8c8c8c;
	display: block;
	position: relative;
}
.latest_projects-a-link, .latest_projects-a-lupa{
	display: none;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	position: absolute;
	top: 100px;
}
.latest_projects-a-link{
	background-image: url(../img/link.png);
	left: 145px;
}
.latest_projects-a-lupa{
	background-image: url(../img/lupa.png);
	right: 145px;
}
.latest_projects-a-link:hover, 
.latest_projects-a-lupa:hover{
	transform: scale(1.3);
}
.latest_projects-article div{
	-webkit-background-origin: border-box;
	background-origin: border-box;
	padding: 30px;
	position: relative;
}
.latest_projects-article div:before{
	content: '';
	display: block;
	position: absolute;
	top: -29px;
	left: 20px;
	border: 20px solid transparent;
	border-bottom: 10px solid #fbfaf8; 
}
.latest_projects-article span{
	display: block;
	text-align: left;
}
.latest_projects-article span:nth-child(1){
	font-family: Raleway-Medium;
	color: #c7b29a;
	font-size: 20px;
	font-weight: 500;
}
.latest_projects-article span:nth-child(2){
	font-family: Montserrat-Light;
	color: #d1d1d1;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.latest_projects-article:hover{
	background: #362f2d;
}
.latest_projects-article:hover img{
	opacity: 0.5;
	background: #000;
}
.latest_projects-article:hover .latest_projects-a-link{
	display: block;
}
.latest_projects-article:hover .latest_projects-a-lupa{
	display: block;
}
.latest_projects-article:hover div:before{
	border-bottom: 10px solid #362f2d; 
}
.latest_projects-article:hover span:nth-child(1){
	color: #fff;
}
.latest_projects-article:hover span:nth-child(2){
	color: #c7b299;
}
.latest_projects-a{
	font-family: Raleway-ExtraBold;
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 56px;
	margin: auto;
	text-align: center;
	width: 170px;
	height: 53px;
	background-color: #998675;
	border-radius: 3px;
	border-bottom: 3px solid #746358;
}
.latest_projects-a:hover{
	background: #746358;
}
.latest_projects-a:active{
	color: #c7b29a;
	background: #13110F;
	border-bottom: 3px solid #13110F;
}



.video_present{
	position: relative;
	height: 705px;
}
.video_present:after{
	content: '';
	display: block;
	background-color: #f4f5f8;
	background-color: rgba(17, 17, 17, 0.5);
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
.video_present-desc{
	text-align: center;
	position: absolute;
	top: 210px; left: 35.5%;
	z-index: 2;
	color: #ffffff;
	width: 552px;
}
.video_present-desc-btn{
	background-image: url(../img/play.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50%;
	padding: 0;
	cursor: pointer;
}
.video_present-desc-btn:active{
	filter: drop-shadow(0 0 1px #fff)
}
.video_present-desc h2{
	font-family: Raleway-Medium;
	font-size: 30px;
	font-weight: 500;
	margin-top: 44px;
}
.video_present-desc p{
	font-family: Montserrat-Light;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}
.video_present-desc time{
	font-family: Montserrat-Regular;
	color: #c7b299;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}




.mobile_app{
	padding: 80px 160px 0px 360px;
	min-height: 615px;
	background: #fbfaf8 url(../img/mobile-app.png) 423px 80px no-repeat;
}

.mobile_app-desc{
	width: 657px;
	margin: 115px auto;
	padding-left: 20%;
}
.mobile_app-desc h2{
	font-family: Raleway-SemiBold;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
}
.mobile_app-desc > p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 16px; 
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 45px;
}
.mobile_app-details{
	margin-left: 90px;
}
.mobile_app-details summary{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	display: block;
	cursor: pointer;
	position: relative;
}
.mobile_app-details:last-child{
	padding-bottom: 15px;
}
.mobile_app-details > p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
}
.mobile_app-details:last-child > p{
	padding-bottom: 15px;
	margin-bottom: 0;
}
.mobile_app-details summary::-webkit-details-marker{
  display: none;
}
.mobile_app-details summary:before{
	content: '';
	display: block;
	width: 21px;
	height: 21px;
	background-image: url(../img/arrows.png);
	position: absolute;
	top: 6px; left: -51px;
}
.mobile_app-details[open] summary:before{
	transform: rotate(90deg);
}



.counters{
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding: 65px;

}
.counters-item{
	fill: #c7b299;
	color: #c7b299;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-right: 75px;

}
.counters-item span:nth-child(2){
	font-family: Montserrat-ExtraLight;
	color: #fff;
	font-size: 48px;
	font-weight: 200;
	line-height: 36px;
	margin: 30px 0 20px;
}
.counters-item span:nth-child(3){
	font-family: Montserrat-Light;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 30px;
}
.counters-item:after{
	content: '';
	display: block;
	background-color: #fff;
	width: 30px;
	height: 2px;
}
.counters-item:hover{
	fill: #fff;
	color: #fff;
}



.recent_posts{
	padding: 80px 370px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
.recent_posts > h2{
	font-family: Raleway-SemiBold;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	width: 100%;
}
.recent_posts > p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	width: 757px;
	margin: 0 30px 40px;
}
.recent_posts article{
	width: 370px;
	min-height: 395px;
	margin: 0 10px;
	border: 1px solid #f8f8f8;
	box-sizing: border-box;
	background-color: rgba(119, 119, 119, 0);
	position: relative;
}
.resent_posts-date{
	position: absolute;
	top: 20px; left: 20px;
	z-index: 10;
}
.resent_posts-date span{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	width: 50px;
	line-height: 20px;
}
.resent_posts-date span:nth-child(1){
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #363636;
	height: 35px;
	font-family: Montserrat-Light;
	font-size: 24px;
	font-weight: 300;
}
.resent_posts-date span:nth-child(2){
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #252525;
	height: 25px;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: 400;
}
.recent_posts-desc{
	padding: 10px 30px 30px;
}
.recent_posts-desc h3{
	font-family: Raleway-Medium;
	color: #555555;
	font-size: 20px;
	font-weight: 500;
}
.recent_posts-desc p{
	font-family: Montserrat-Light;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.recent_posts-desc a{
	font-family: Montserrat-Light;
	color: #c7b299;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	position: relative;
}
.recent_posts-desc a:after{
	content: '';
	display: block;
	position: absolute;
	top: 5px; right: -20px;
	border: 5px solid transparent;
	border-left: 5px solid #c7b299;
}
.recent_posts article:hover{
	background-color: #362f2d;
}
.recent_posts article:hover img{
	background-color: #000;
	opacity: 0.5;
}
.recent_posts article:hover .resent_posts-date span:nth-child(1){
	background-color: #c7b299;
}
.recent_posts article:hover .resent_posts-date span:nth-child(2){
	background-color: #a48d72;
}
.recent_posts article:hover .recent_posts-desc h3{
	color: #c7b299;
}
.recent_posts article:hover .recent_posts-desc p{
	color: #fff;
}
.recent_posts article:hover .recent_posts-desc a:after{
	border-left: 5px solid #fff;
}
.recent_posts button{
	border: none;
	border-radius: 50%;
	background-image: url(../img/btn-arrow.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 22px;
	height: 22px;
	margin: 40px 5px 0 5px;
}
.recent_posts-btn_right{
	transform: scale(-1);
}
.recent_posts button:hover{
	filter: drop-shadow(0 0 2px #c7b299);
}
.recent_posts button:active{
	filter: drop-shadow(0 0 1px #a48d72);
}
.partners{
	min-height: 489px;
	background: rgba(17, 17, 17, 0.7) url(../img/footer.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.partners a{
	display: block;
	cursor: pointer;
	margin: 0 45px;
}
.partners a:hover{
	filter: drop-shadow(0 0 3px #c7b299);	
}
.partners a:active{
	filter: drop-shadow(0 0 3px #a48d72);	
}
.footer_top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	background: #191919;
	padding: 80px;
}
.footer_top-about{
	width: 258px;
	margin-right: 40px;
}
.footer_top-about_logo{
	color: #fff;
}
.footer_top-about p{
	font-family: Montserrat-Light;
	color: #545454;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.footer_top-about a:nth-child(3){
	font-family: Montserrat-Regular;
	color: #d1d1d1;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	position: relative;
}
.footer_top-about a:nth-child(3):after{
	content: '';
	display: block;
	position: absolute;
	top: 5px; right: -20px;
	border: 5px solid transparent;
	border-left: 5px solid #fff;
}
.footer_top-about a:hover{
	color: #c7b299;
}
.footer_top-about a:hover:nth-child(3):after{
	border-left: 5px solid #c7b299;
}
.footer_top-posts{
	width: 271px;
	margin-right: 30px;
}
.footer_top-posts h2{
	font-family: Raleway-Bold;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}
.footer_top-posts-recent_post{
	border-bottom: 2px solid #252525;
	padding: 10px 0;
}
.footer_top-posts-recent_post span{
	font-family: Montserrat-Light;
	color: #363636;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
.footer_top-posts-recent_post a{
	font-family: Montserrat-Light;
	color: #545454;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	display: block;
}
.footer_top-posts-recent_post:hover span{
	color: #fff;
}
.footer_top-posts-recent_post:hover a{
	color: #c7b299;
}
.footer_top-twitter{
	width: 271px;
	margin-right: 30px;
}
.footer_top-twitter section{
	border-bottom: 2px solid #252525;
	padding: 0 0 10px 0;
}
.footer_top-twitter h2{
	font-family: Raleway-Bold;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}
.footer_top-twitter p{
	font-family: Montserrat-Light;
	color: #545454;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 0;
}
.footer_top-twitter p span{
	font-family: Montserrat-Light;
	color: #00bff3;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.footer_top-twitter p a{
	font-family: Montserrat-Light;
	color: #959595;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.footer_top-twitter span{
	font-family: Montserrat-Light;
	color: #363636;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
.footer_top-widget{
	width: 271px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_top-widget h2{
	font-family: Raleway-Bold;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}
.footer_top-widget img{
	opacity: 0.8;
	background-color: #fff;
}
.footer_top-widget img:hover{
	opacity: 1;
}
.footer_top-widget img{
	opacity: 0.8;
	background-color: #fff;
}
.footer_copyright{
	background-color: #111;
	padding: 45px 0 50px;
	font-family: Montserrat-Light;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-evenly;
}
.copyright p{
	color: #545454;
	text-align: left;
	display: inline-block;
	border-right: 1px solid #242424;
	padding: 0 10px;
}
.copyright  a{
	color: #545454;
	text-align: left;
	display: inline-block;
	border-right: 1px solid #242424;
	padding: 0 10px;
}
.copyright span{
	color: #959595;
}	
.copyright a:hover{
	color: #c7b299;
}
.copyright a:last-child{
	border: none;
}
.footer_designed{
	text-align: right;
}
.footer_designed p{
	color: #545454;
	display: inline-block;
	border-right: 1px solid #242424;
	padding: 0 10px;
}	
.footer_designed p span{
	color: #959595;
}
.footer_designed p:last-child{
	border: none;
}
	



























































